---
layout: default
---

<div class="container">
  <section class="categories-section">
    <h1>Categories</h1>

    {% for category in site.categories %}
    <div class="category-group">
      <h2 class="category-name" id="{{ category[0] | slugify }}">
        {{ category[0] }}
        <span class="category-count">{{ category[1].size }}</span>
      </h2>
      <ul class="category-posts">
        {% for post in category[1] %}
        <li class="category-post-item">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <span class="category-post-date">{{ post.date | date: "%b %Y" }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </section>
</div>
