<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}

<script>
window.MathJax = {
  tex: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<title>{% if page.title %}{{ page.title }} | {{ site.author.short_name }}{% else %}{{ site.title }}{% endif %}</title>
</head>
<body>

{% include header.html %}

<main>
  {{ content }}
</main>

{% include footer.html %}

<script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>
</html>
