---
layout: default
---

{% assign author = site.authors[page.author] %}

<div class="container">
  <header class="post-header">
    {% if page.categories.size > 0 %}
    <div class="post-categories">
      {% for cat in page.categories %}
      <a href="{{ site.baseurl }}/categories?category={{ cat | slugify | uri_escape }}">{{ cat }}</a>
      {% endfor %}
    </div>
    {% endif %}

    <h1 class="post-title">{{ page.title }}</h1>

    <div class="post-meta">
      {% if author.avatar %}
      <img class="author-avatar" src="{{ site.baseurl }}/{{ author.avatar }}" alt="{{ author.display_name }}">
      {% endif %}
      <span>{{ author.display_name }}</span>
      <span class="dot"></span>
      <time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      <span class="dot"></span>
      {% assign words = content | number_of_words %}
      {% assign minutes = words | divided_by: 200 %}
      {% if minutes < 1 %}{% assign minutes = 1 %}{% endif %}
      <span>{{ minutes }} min read</span>
    </div>
  </header>

  <div class="post-layout">
    <article class="post-content">
      {{ content }}
    </article>

    <aside class="post-sidebar">
      <nav class="toc-sidebar" id="toc-sidebar">
        <div class="toc-title">On this page</div>
        <ul class="toc-list" id="toc-list"></ul>
      </nav>
    </aside>
  </div>

  <!-- Comments -->
  <div class="post-comments">
    <script src="https://utteranc.es/client.js"
      repo="{{ site.author.github_username }}/blogs"
      issue-term="pathname"
      theme="preferred-color-scheme"
      crossorigin="anonymous"
      async>
    </script>
  </div>

  {% assign prev_post = nil %}
  {% assign next_post = nil %}
  {% assign found_current = false %}
  {% for post in site.posts %}
    {% if post.url == page.url %}
      {% assign found_current = true %}
    {% elsif found_current and prev_post == nil %}
      {% unless post.archived %}
        {% if post.series and post.hidden %}
          {% assign prev_post = post %}
        {% elsif post.series != true and post.hidden != true %}
          {% assign prev_post = post %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% assign found_current = false %}
  {% assign reversed_posts = site.posts | reverse %}
  {% for post in reversed_posts %}
    {% if post.url == page.url %}
      {% assign found_current = true %}
    {% elsif found_current and next_post == nil %}
      {% unless post.archived %}
        {% if post.series and post.hidden %}
          {% assign next_post = post %}
        {% elsif post.series != true and post.hidden != true %}
          {% assign next_post = post %}
        {% endif %}
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% if prev_post or next_post %}
  <nav class="post-nav">
    {% if prev_post %}
    <a class="post-nav-item prev" href="{{ site.baseurl }}{{ prev_post.url }}">
      <div class="post-nav-label">&larr; Previous</div>
      <div class="post-nav-title">{{ prev_post.title }}</div>
    </a>
    {% else %}
    <div></div>
    {% endif %}
    {% if next_post %}
    <a class="post-nav-item next" href="{{ site.baseurl }}{{ next_post.url }}">
      <div class="post-nav-label">Next &rarr;</div>
      <div class="post-nav-title">{{ next_post.title }}</div>
    </a>
    {% else %}
    <div></div>
    {% endif %}
  </nav>
  {% endif %}
</div>
